*{
    padding:0;
    margin:0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



body {
  background-color: #ffea00;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  background-color:  #ffea00;
  height: 70px;
}

main {
  overflow: auto;
  padding-bottom: 80px;
}

footer {
  position: relative;
  margin-top: -80px;
  height: 80px;
  clear: both;
  background-color:  #ffea00;
}

h2 {
  padding-top: 15px;
  padding-left: 50px;
}

#manifesto

#colors_sketch {
  width: 300px;
  height: 200px;
  border: solid;
  margin-bottom: 20px;
  background-color: #ffea00;
}

#color_palette {
  width: 296px;
  height: 96px;
  border-style: solid;
  border-width: 2px;
  border-color: #d9d28c;
  margin-top: 20px;
}

.default-hide {
  display: none;
}

.disclaimer {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.disclaimer .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: #d9d28c;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -140px;
    opacity: 0;
    transition: opacity 0.3s;
}

.disclaimer .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #d9d28c transparent transparent transparent;
}

.disclaimer:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}