*{
    padding:0;
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



body {
  background-color: #ffea00;
  margin-left: 10px;
  margin-right: 10px;
}

header {
  background-color:  #ffea00;
  text-align: center;
  height: 45px;
  margin-top: 10px;
  border-bottom: solid #ffd000;
}

main {
  overflow: auto;
  padding-bottom: 180px;
}

#manifesto {
  margin: 10px;
  padding: 10px;
  text-align: left;
  background-color: #fffb00;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 0px rgb(184, 153, 70);
}

#result {  
  text-align: center;
}

#colors_sketch {
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #916d0a;
  margin-top: 20px;
  box-shadow: 2px 2px 5px 0px rgb(184, 153, 70);
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

canvas {
  /* margin: auto;
  width: 50%; */
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #916d0a;
  margin-top: 20px;
  box-shadow: 2px 2px 5px 0px rgb(184, 153, 70);
}

#color_palette {
  margin: auto;
  width: 50%;
  width: 296px;
  height: 96px;
  border-radius: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: #916d0a;
  margin-top: 20px;
  box-shadow: 2px 2px 5px 0px rgb(184, 153, 70);  
}

#ml-summary {
  margin-top: 33px;
  font-weight: bold;
}

#file_loader {
  
}

footer {
  text-align: center;
  font-size: 80%;
  position: relative;
  margin-top: -100px;
  padding-top: 10px;
  height: 80px;
  clear: both;
  background-color:  #ffea00;
  border-top: solid #ffd000;
}

.default-hide {
  display: none;
}

.default-display {
  display: flex;
  flex-direction: column;
}

.disclaimer {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.disclaimer .tooltiptext {
    visibility: hidden;
    width: 264px;
    background-color: #ffd000;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -139px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 2px 2px 5px 0px rgba(179,174,100,1);
}

.disclaimer .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffd000 transparent transparent transparent;
    box-shadow: 2px 2px 5px 0px rgba(179,174,100,1);
}

.disclaimer:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}
